@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

:root {
    --sd-color-primary: #3271B8;
    --sd-color-dark: #383D42;
    --sd-color-light: #CED4DE;
}

body {
    font-family: 'Poppins';
}

a {
    color: var(--sd-color-primary);
}

pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.navbar a {
    color: var(--sd-color-light);
}

.navbar a:hover {
    color: var(--sd-color-light);
}

.navbar {
    background-color: var(--sd-color-dark);
}

.content:not(.custom) {
    max-width: 90%;
}

.vp-sidebar {
    font-size: 14px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}