@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

body {
    font-family: 'Poppins';
}

a {
    color: #0e4c8b;
}

pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.content:not(.custom) {
    max-width: 1440px;
}

.vp-sidebar {
    font-size: 15px;
}